.carousel {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0; /* 요소들의 너비를 파악하고 전체 window가 설정될 때 깜빡이는 것을 방지하기 위해 opacity : 0*/
}

.carousel-sildes {
    --currentSlide: 0;
    --duration: 0;

    display: flex;
    transition: transform calc(var(--duration) * 1ms) ease-out;
    transform: translate3d(calc(var(--currentSlide) * -100%), 0, 0);
}

.carousel-sildes img {
    padding: 5px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY((-50%));
    font-size: 2em;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    z-index: 99;
}
